<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/install.css">
    <script type="text/javascript" src="/layui.js"></script>
    <script type="text/javascript" src="/demo/vue.min.js"></script>
    <title>Install</title>
</head>
<body>
    <div class="install " v-cloak>
        <div class="install_body ">
            <!-- 安装步骤 -->
            <div class="install_left">
                <p>wulacms</p>
                <ul class="install_left__steps">
                    <li v-for="(item,i) in steps" :class="[c_step==i?'checked':'']">{{item}}</li>
                </ul>
            </div>

            <!-- 安装主界面 -->
            <div class="install_right">
                <!-- 环境检测 -->
                <div class="layui-form install_right__verify" v-show="c_step==0">
                    <p class="title">{{steps[c_step]}}</p>
                    <p class="info-title">
                        <span>检验项目</span>
                        <span>检验要求</span>
                        <span>实际状态</span>
                        <span>是否通过</span>
                    </p>
                    <p v-for="item in verify.infos" class="info">
                        <span>{{item.name}}</span>
                        <span>{{item.required}}</span>
                        <span>{{item.checked}}</span>
                        <span>
                            <i class="layui-icon layui-icon-ok" v-if="(item.optional|item.pass)" style="color:#4caf50"></i>
                            <i class="layui-icon layui-icon-close" v-else style="color:#ff9800"></i>
                        </span>
                    </p>

                    <p class="title">目录检测</p>
                    <p v-for="item in verify.infos" class="info">
                            <span>{{item.name}}</span>
                            <span>{{item.required}}</span>
                            <span>{{item.checked}}</span>
                            <span>
                                <i class="layui-icon layui-icon-ok" v-if="(item.optional|item.pass)" style="color:#4caf50"></i>
                                <i class="layui-icon layui-icon-close" v-else style="color:#ff9800"></i>
                            </span>
                        </p>

                    <button class="layui-btn layui-btn-disabled layui-btn-primary install_right__pre">上一步</button>
                    <button :class="{'layui-btn-disabled':verifyNext()==0}" class="layui-btn layui-btn-primary install_right__next" @click="verifyNext()==1?c_step++:console.log('无法继续')">继续</button>
                </div>



                <!-- 安全码验证 -->
                <div class="layui-form code" v-show="c_step==1">
                    <p class="title">{{steps[c_step]}}</p>
                    <input type="text"  placeholder="请输入安全码"  class="layui-input" v-model="code.val">
                    <button class="layui-btn layui-btn-primary install_right__pre" @click="c_step--">上一步</button>
                    <button class="layui-btn layui-btn-primary install_right__next" @click="codeNext" v-if="!code.next">验证</button>
                    <button class="layui-btn layui-btn-primary install_right__next" @click="c_step++" v-else>继续</button>
                </div>
                <!-- 环境选择 -->
                <div class="layui-form code" v-show="c_step==2">
                    <p class="title">{{steps[c_step]}}</p>
                    <input type="radio" name="hj" value="0" title="环境1" checked>
                    <input type="radio" name="hj" value="1" title="环境2">
                    <button class="layui-btn layui-btn-primary install_right__pre" @click="c_step--">上一步</button>
                    <button class="layui-btn layui-btn-primary install_right__next" @click="c_step++" >继续</button>
                </div>
                <!-- 数据库配置 -->
                <div class="layui-form database" v-show="c_step==3">
                    <p class="title">{{steps[c_step]}}</p>
                    <input type="radio" name="sql" value="0" title="MySQL, MariaDB, Percona Server, or equivalent" checked>
                    <input type="radio" name="sql" value="1" title="SQLite">
                    <input type="text"  placeholder="Database name"  class="layui-input" v-model="db.dbname">
                    <input type="text"  placeholder="Database username"  class="layui-input" v-model="db.dbusername">
                    <input type="text"  placeholder="Database password"  class="layui-input" v-model="db.dbpwd">
                    <button class="layui-btn layui-btn-primary install_right__pre" @click="c_step--">上一步</button>
                    <button class="layui-btn layui-btn-primary install_right__next" @click="dbNext()==1?c_step++:c_step++">继续</button>
                </div>
                <!-- 安装 -->
                <div class="layui-form progress" v-show="c_step==4">
                    <p class="title">{{steps[c_step]}}</p>
                    <h1>{{install_progress==100?'finish':'installing...'}}</h1>
                    <div class=" layui-progress layui-progress-big" lay-filter="install-progress">
                        <div class="layui-progress-bar" lay-percent="0%">{{install_progress}}%</div>
                    </div>

                    <button class="layui-btn layui-btn-primary install_right__pre" @click="c_step--">上一步</button>

                    <button class="layui-btn layui-btn-primary install_right__next" @click="doInstall" v-show="install_progress==0">安装</button>
                    <button v-show="install_progress>0"
                    :class="{'layui-btn-disabled':install_progress<100}" class="layui-btn layui-btn-primary install_right__next" 
                    @click="install_progress<100?console.log('aa'):c_step++">{{install_progress < 100 ? '安装' : '完成 '}}</button>
                </div>
                <!-- 完成 -->
                <div class="layui-form progress" v-show="c_step==5">
                        <p class="title" style="text-align: center">{{steps[c_step]}}</p>
                        <a  class="layui-btn layui-btn-primary install_right__next"  >进入wulacms</a>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    layui.config({
        base: '/demo/js/'
    });
    layui.use(['layer', 'element', 'form', '&install'], function() {
        var form = layui.form;
        form.render();
    })
</script>
</html>