@main-color:#293e53;
// 居中
.mid{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

// 滚动条样式
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background-color:#fff;
}
*::-webkit-scrollbar-thumb {
    border-radius:4px;
    background:#999; 
}
*::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
li{
    list-style: none;
}
[v-cloak]{
    display: none !important; 
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #f5f5f5;
    min-width: 980px;
    
}

#index{
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    min-width: 980px;
    *{
        font-size: 0;
        line-height: 1;
        li:hover,a:hover{
            color: #293e53;
            i{
                color: #293e53 !important;
            }
        }
    }
    .nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 2;
        box-shadow: rgba(155, 155, 155, 0.5) 0px 2px 4px 0px;
        .nav-left{
            i{
                font-size: 30px;
                width: 50px;
                height: 50px;
                cursor: pointer;
                background:linear-gradient(to right, #6e89e4,#56b6eb);
                display: inline-block;
                color: #fff;
                line-height: 50px;
                text-align: center;
            }
            &>div{
                display: inline-block;
                background-color: @main-color;
                width: 50px;
                text-align: center;
                position: relative;
                height: 50px;
                cursor: pointer;
                .icon{
                    width: 33px;
                    height: 24px;
                    .mid();
                    
                }
            }
            .logo{
                margin-left: 15px;
                margin-top: 10px;
                width: 30px;
                vertical-align: top;
                cursor: pointer;
            }
            .logo-name{
                line-height: 50px;
                font-weight: 700;
                display: inline-block;
                background: @main-color;
                background-clip: text;
                color: transparent;
                font-size: 20px;
                vertical-align: top;
            }

        }
        .nav-right{
            display: flex;
            transition: all 0.25s ease-in-out 0s;
            .search{
                line-height: 28px;
                height: 28px;
                border: 1px solid #ccc;
                background: #f5f5f5;
                align-self: center;
                width: 300px;

                font-size: 14px;
                color: #666;
                padding-left: 10px;
                margin-right: -20px;
                border-radius: 2px;
                transition: all 1s;
            
            }
            .layui-icon-search{
                align-self: center;
                font-size: 16px;
                margin-right: 10px;
                cursor: pointer;
            }
            .links{
                display: flex;
                &>li{
                    position: relative;
                    &>a{
                        line-height: 50px;
                        font-size: 12px;
                        text-align: center;
                        padding: 0 10px;
                    }
                    i{
                        font-size: 18px;
                        &>span{
                            position: absolute;
                            top: 15px;
                            right: 3px;
                        }
                        &.has-notice{
                            &::before{
                                display: inline-block;
                                border-radius: 50%;
                                animation:notice-ant-2 0.4s ease-in infinite alternate;
                            }
                        }
                    }
                    &:hover{
                        &>ul{
                            visibility:visible;
                            opacity: 1;
                            top: 50px;
                            li:hover{
                                    background: rgba(46, 62, 83, 0.1);
                                }
                        }
                    }
                &>ul{
                    position: absolute;
                    right: 0;
                    top: 60px;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
                    background-color: rgb(255, 255, 255);
                    min-width: 100px;
                    font-size: 12px;
                    color: rgb(51, 51, 51);
                    transition: all 360ms ease 0s;
                    z-index: 10;
                    li{
                        display: block;
                        a{
                            display: block;
                            font-size: 12px;
                            text-align: center;
                            line-height: 40px;
                            transition: all .4s;
                            
                        }
                    }
                } 
                }
            }
            .nav-user{
                line-height: 50px;
                padding:0 10px;
                cursor: pointer;
                position: relative;
                &>img{
                    width: 30px;
                    border-radius: 20px;
                }
                &:hover{
                    &>ul{
                        visibility:visible;
                        opacity: 1;
                        top: 50px
                    }
                }
                &>ul{
                    background: #f1f1f1;
                    position: absolute;
                    right: -20%;
                    top: 60px;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
                    background-color: rgb(255, 255, 255);
                    min-width: 300px;
                    font-size: 12px;
                    color: rgb(51, 51, 51);
                    transition: all 360ms ease 0s;
                    z-index: 10;
                    li{
                        padding: 0 10px;
                        &:hover{
                            background: rgba(46, 62, 83, 0.1);
                        }
                        &.logout{
                            background: #293e53;
                            &>a{
                                color: #fff;
                                margin: 0 auto;
                            }
                        }
                        a{
                            display: inline-block;
                            font-size: 12px;
                            text-align: center;
                            line-height: 40px;
                            transition: all .4s;
                        }
                        &>i{
                            font-size: 14px;
                            vertical-align: sub;
                            margin-right: 4px;
                        }
                        &>img{
                            width: 30px;
                            border-radius: 20px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 8px;
                        }
                        &>p{
                            line-height: 30px;
                            vertical-align: middle;
                            font-size: 12px;
                            display: inline-block;
                        }
                        &:first-child{
                            padding: 10px;
                            border-bottom: 1px solid #dbd8d8;
                        }
                    }
                    
                }
            }
        
        }
    }
    .menu{
        box-sizing: border-box;
        position: fixed;
        top: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 1;
        transition: all 0.25s ease-in-out 0s;
        visibility: hidden;
        opacity: 0; 
        display: flex;
        .bg{
            background-color: rgba(0, 0, 0, 0.2);  
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        aside{
            position: relative;
            z-index: 10;
            box-shadow: rgba(0, 0, 0, 0.2) 4px 2px 4px 0px;
            background-color: rgb(255, 255, 255);
            width: 240px;
            height: 100%;
            transition: all 0.25s ease-in-out 0s;
            display: inline-block;
            .more{
                height: 48px;
                line-height: 48px;
                border-bottom: 1px solid rgb(222, 222, 222);
                background: none rgb(245, 245, 245);
                font-size: 14px;
                cursor: pointer;
                i{
                    font-size: 18px;
                    line-height: 48px;
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    display: inline-block;
                    &.icon-right{
                        float: right;
                    }
                }
            }
            ul{
                position: absolute;
                width: 100%;
                top: 48px;
                bottom: 0;
                overflow: auto;
                // &::-webkit-scrollbar {
                //     width: 6px;
                // }
                // &::-webkit-scrollbar-track {
                //     background-color:#fff;
                // }
                // &::-webkit-scrollbar-thumb {
                //     border-radius:4px;
                //     background:#999; 
                // }
                // &::-webkit-scrollbar-track{
                //     box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
                // }
                    li{
                        cursor: pointer;
                        transition: all 0.5s ease-in-out 0s;
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.05);
                            .layui-icon-close,.layui-icon-more-vertical{
                                opacity: 1;
                            }
                        }
                        a{
                            font-size: 14px;
                            line-height: 48px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                        i{
                            font-size: 18px;
                            line-height: 48px;
                            width: 48px;
                            text-align: center;
                            display: inline-block;
                            vertical-align: middle;
                            transition: all 0.5s ease-in-out 0s;
                        }
                        .layui-icon-close{
                            position: absolute;
                            right: 18px;
                            opacity: 0;
                        }
                        .layui-icon-more-vertical{
                            width: 28px;
                            position: absolute;
                            right: 0;
                            opacity: 0;
                            cursor:move ;
                        }
                    }
                    .bedrop{
                        background-color:@main-color;
                        opacity: 0.6;
                        
                        a{
                            color: #fff;
                        }
                    }
            }
        }
        .menu-list{
            z-index: 5;
            background-color: rgb(247, 247, 247);
            min-width: 490px;
            max-width: 800px;
            visibility: hidden;
            opacity: 0; 
            transition: all 0.25s ease-in-out 0s;
            height: 100%;
            padding: 48px 0px 0px 32px;
            box-sizing: border-box;
            position: relative;
            .search{
                position: absolute;
                left: 32px;
                top: 20px;
                right: 0;
                input{
                    width: 100%;
                    line-height: 28px;
                    height: 28px;
                    border: none;
                    
                    background: #f5f5f5;
                    align-self: center;
                    font-size: 14px;
                    color: #666;
                    padding-left: 30px;
                    margin-left: -30px;
                    box-sizing: border-box;
                }
                ::-webkit-input-placeholder { /* WebKit browsers */
                    color: #c1c1c1;
                  }
                  
                  ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #c1c1c1;
                  }
                  
                  :-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #c1c1c1;
                  }  
                .layui-icon-search{
                    align-self: center;
                    font-size: 16px;
                    margin-right: 10px;
                    cursor: pointer;
                    position: relative;
                    color: #c1c1c1;
                }
            }
            .menu-list--main{
                box-sizing: border-box;
                height: 100%;
                overflow: auto;
                padding-top: 32px;
                border-top: 1px solid #ccc;
                scroll-behavior: smooth;
                &>div{
                    column-count: 3;
                    .menu-list--item{
                        display: inline-block;
                        margin-bottom: 20px;
                        width: 100%;
                        font-size: 12px;
                        a[name]{
                            font-size: 14px;
                            font-weight: 700;
                            text-align: left;
                            display: inline-block;
                            padding: 10px 10px;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            box-sizing: border-box;
                            border-radius: 2px;
                            &.check{
                                color: #fff;
                                background-color: @main-color;
                            }
                        }
                        &>a:not([name]){
                            font-size: 14px;
                            text-align: left;
                            display: block;
                            height: 100%;
                            padding: 10px 10px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            position: relative;

                            i{
                                font-size: 14px;
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                opacity: 0;
                                transition: all 1;
                                font-weight: 700;
                               
                            }
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.05);
                                i{
                                    opacity: 1;
                                }
                            }

                            &.isadd{
                                i{
                                    opacity: 1;
                                    color: @main-color;
                                }                                  
                            }

                        }
                    }
                }
            }
            .menu-list--sub{
                padding-top: 48px;
                position: absolute;
                right: -160px;
                width: 160px;
                top: 0;
                bottom: 0;
                background: #f7f7f7;
                box-sizing: border-box;
                ul{
                    height: 100%;
                    border-left: 1px solid #ccc;
                    li{
                        a{
                            width: 100%;
                            display: inline-block;
                            font-size: 12px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            height: 32px;
                            line-height: 30px;
                            outline: medium;
                            background: none;
                            padding: 0px 12px;
                            box-sizing: border-box;
                            cursor: pointer;
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.05);
                                border-left-color: @main-color;
                                color: @main-color;
                            }
                        }
                    }
                }
            }

          
        }
        .menu-list--show{
            visibility: visible;
            opacity: 1;
        }
    }
    .menu--show{
        visibility: visible;
        opacity: 1; 
        left: 0;
    }
}
#module{
    width: 100%;
    // padding-top: 50px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    .module-show{
        width: 20px;
        writing-mode:vertical-rl;
        background-color: @main-color;
        color: #fff;
        font-size: 12px;
        position: fixed;
        z-index: 11;
        right: 0;
        top: 70px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 50px;
        padding-right: 2px;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
    }
    ul{
        background: #2F4056;
        width: 240px;
        padding-top: 10px;
        box-sizing: border-box;
        position: relative;
        transition: all 1s;
        left: 0;
        z-index: 11;
        &.hide{
            width: 0;
            li{
                width: 0;
                opacity: 0;
            }
        }
        li{
            color: #fff;
            padding-left: 10px;
            line-height: 40px;
            font-size: 14px;
            cursor: pointer;
            transition: all 1s;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            opacity: 1;
            width: 100%;
            i{
                font-size: 14px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 1s;
                color: #fff;
                &:hover{
                    color: @main-color;
                }
            }
            
        }
        li:last-child{
            position: absolute;
            bottom: 0;
            padding: 0;
            text-align: center;
            width: 100%;
            line-height: 40px;
            span{
                font-size: 12px;
                text-align: center;
                width: 50%;
                color: #fff;
                display: inline-block;
                cursor: pointer;
            }
            span:nth-child(1){
                background-color: #FFB800;
            }
            span:nth-child(2){
                background-color: #5FB878;
            }
        }
        &>i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
            height: 60px;
            width: 15px;
            line-height: 60px;
            background: @main-color;
            color: #fff;
            text-align: center;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            opacity: .6;
            cursor: pointer;
            opacity: 1;
        }
       
    }
    .module-list{
        padding-top: 10px;
        flex:1 0 auto;
        display: flex;
        flex-flow:row wrap;
        padding-left: 10px;
        box-sizing: border-box;
        align-content:flex-start;
        overflow: auto;
        height: 100%;
        position: relative;
        z-index: 10;
        &>div{
            // background: #fff;
            // height: 20%;
            flex:0 0 25%;
            font-size: 14px;
            padding-bottom: 10px;
            box-sizing: border-box;
            background-clip: content-box;
            display: flex;
            flex-wrap: wrap;
            &>div{
            background: #fff;
            padding-right: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            background-clip: content-box;
            min-height: 200px;
            
            }
           
        }
        .right{
            &>*{
                background: #fff;
                padding-bottom: 10px;
                box-sizing: border-box;
                background-clip: content-box;
                height: 200px;
            }
        }
        .module-hide{
            position: absolute;
            right: 10px;
            bottom: 10px;
            border-radius: 50%;
            border: 1px solid #293e53;
            padding: 2px;
            color: #fff;
            background: #293e53;
            cursor: pointer;
        }
    }
    .mian-module-list{
        position: absolute;
        width: 100%;
        background:#dedede;
        padding-bottom: 50px;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
    .up-enter-active, .up-leave-active {
        transition: all 1.5s;
    }
    .up-enter, .up-leave-to /* .fade-leave-active below version 2.1.8 */ {
        transform: translateX(-150%);
    }

}
.layui-progress{
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-radius: 0px;
    height: 4px;
    display: none;
    .layui-progress-bar{
        border-radius: 0px;
        transition: all 1s;
        height: 4px;
    }

}

#workspace{
    position: fixed;
    top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    
    .view{
        height: 100%;
        overflow: auto;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

@keyframes notice-ant-2{
    0% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(10deg);
    }
}
  body {
    width: 100vw;
    position: absolute;
    overflow: hidden;
  }