*{
    margin: 0;
    padding: 0;
}
@main_bg:#F0F0F0;
// 安装
[v-cloak]{
    display: none ; 
}
html,body{
    width: 100%;
    height: 100%;
}


#install{
    font:normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
    *{
        box-sizing: border-box;
    }
    height: 100%;
    overflow: hidden;
    position: relative;

    


    .install_body{
        font-size: 0;
        position: absolute;
        background: rgba(255,255,255,0.7);
        width: 75%;
        max-width: 900px;
        min-width: 600px;
        min-height: 350px;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 4px;
        overflow: hidden;
    }
    .install_left,.install_right{
        font-size: 14px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .install_left{
        // padding-right: 40px;
        width: 35%;
        overflow: hidden;
        &>p{
            padding-left: 30px;
            font-size: 30px;
            line-height: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #2F4056;
            &>span{
                vertical-align: top;
                border-radius: 6px;
                font-size: 12px;
                height: 16px;
                line-height: 16px;
            }
        }
        .install_left__steps{
            li{
                padding-left: 30px;
                list-style: none;
                line-height: 40px;
                position: relative;
                color: #999;
                text-overflow: ellipsis;
                white-space: nowrap;
                opacity: 0.7;
                width: 0;
                transition: all .5s;
                
                &.checked{
                    color: #333;
                    background: #F0F0F0;
                    width: 100%;
                    opacity: 1;
                    font-weight: 700;
                }
               
            }
        }
    }
    .install_right{
        width: 65%;
        background: #fff;
        position: relative;
        &>div{
            height: 100%;
            font-size: 13px;
            background: @main_bg;
            border: 30px solid @main_bg;
            position: relative;
            min-height: 350px;
            padding-bottom: 60px;
            .title{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
                color: #2F4056;
            }
            .select{
                width: 220px;
                margin: 20px 0;
            }
            .layui-form-radio *{
                font-size: 14px;
            }
            .layui-form-radio>i{
                font-size: 18px;
            }
            
            .layui-icon{
                font-size: 14px;
                vertical-align: middle;
            }

            p.tips{
                line-height: 2.8;
                padding: 0 20px;
                font-size: 13px;
                border-radius: 4px;
                background: #FFB800;
                color: #fff;
                letter-spacing:1px;
                animation:tipscolor 1s infinite alternate;
                display: inline-block;
            }
            input.tips{
                border-color: red;
            }
            .layui-form-label{
                font-size: 12px;
                color: #666;
            }

            input{
                margin:10px 0;
                background: #fff;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }
                &[type="number"]{
                  -moz-appearance: textfield;
                }
            }
            

            &.progress{
                .progress_log{
                    width: 100%;
                    overflow-y:auto;
                    overflow-x: hidden;
                    border-radius: 4px;
                    padding: 10px 0;
                    height: 120px;
                    margin-bottom: 10px;
                    li{
                        line-height: 1.4;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 10px;
                        i::before{
                            font-size: 16px;
                        }
                    }
                }
                // 修改滚动条样式
                .progress_log::-webkit-scrollbar {
                    width: 4px;
                }
                .progress_log::-webkit-scrollbar-track {
                    background-color:#fff;
                }
                .progress_log::-webkit-scrollbar-thumb {
                    background-color: #ccc;
                }

                .layui-progress{
                    position: absolute;
                    width: 100%;
                }
                .layui-progress,.layui-progress-bar{
                    border-radius: 4px;
                }
                .layui-progress-big, .layui-progress-big .layui-progress-bar{
                    height: 24px;
                    line-height: 24px;
                }
                .layui-progress-bar{
                    padding-right:10px;
                    color: #fff;
                    background: #009688;
                    opacity: 0.9;
                    font-size: 12px;
                    min-width: 20px;
                    padding-left: 2px;
                }
                h1{
                    text-align: center;
                    line-height: 1.4;
                    color: #2F4056;
                    margin-top: -20px;
                    margin-bottom: 10px;
                }
                .install_right__next{
                    right: 30%;
                }
                .install_right__pre{
                    left: 30%;
                }
            
            }
            
        }

        .layui-form-item{
            margin-bottom: 0; 
        }
        .install_right__verify{
            .info,.info-title{
                margin: 10px 0;
                display: flex;
                justify-content: space-around;
                span{
                    display: inline-block;
                    width: 120px;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                    font-size: 13px;
                    text-align: center;
                    
                    &:nth-child(1){
                        text-align: left;
                    }
                }
            }
            
        }


        .install_right__next,.install_right__pre{
            min-width: 80px;
            padding:0 10px;
            bottom: 0;
            position: absolute;
        }
        .install_right__next{
            right: 0;
        }
        .install_right__pre{
            left: 0;
        }
        .install_loading{
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 0;
            font-size: 20px !important;
            line-height: 38px  !important;
            
        }
            .layui-form-switch{
                box-sizing: content-box;
                margin: 0;
            }
    }
}
@keyframes tipscolor
{
from {opacity:0.5;}
to {opacity:1;}
}